<header>
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">VNes</a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Jogos</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-nav">
    <li><div class="user-view">
      <div class="background" style="background-color: #1a1a1a;">
        </div>
      <a href="#user"><span class="white-text name">Visitante</span></a>
      <a href="#email"><span class="white-text email">Bem-vindo ao VNes</span></a>
    </div></li>
    <li><a href="#"><i class="material-icons">home</i>Home</a></li>
    <li><a href="#"><i class="material-icons">games</i>Jogos</a></li>
    <li><a href="#"><i class="material-icons">info</i>Sobre</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Conta</a></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">account_circle</i>Login</a></li>
  </ul>
</header>
