<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">VNes</h5>
        <p class="grey-text text-lighten-4">Sua plataforma para reviver os clássicos!</p>
        <p class="grey-text text-lighten-4">Emulando diversão, um pixel de cada vez.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links Rápidos</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Termos de Serviço</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Política de Privacidade</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contato</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2025 VNes - Todos os direitos reservados.
      <a class="grey-text text-lighten-4 right" href="https://github.com" target="_blank">GitHub</a>
    </div>
  </div>
</footer>
